<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="javascripts/constant.js"></script>
    <script src="javascripts/main.js"></script>
    <title>scrapbox-template</title>
</head>
<body>
    <h4>研究ノート</h4>
    <div id="selectWrapperPublic">
        <div class="create-page">
            <select class="year-select"></select>年
            <select class="month-select"></select>月
            <div>
                <p>作成</p>
                <a target="_blank" id="scrapboxLink">[ここにリンクが展開されます]</a>
            </div>
        </div>
    </div>
</body>
</html>
