<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="javascripts/constant.js"></script>
    <script src="javascripts/main.js"></script>
    <title>scrapbox-template</title>
</head>
<body>
    <div class="create-page">
        Mode<br>
        <input type="radio" name="mode" value="create">create
        <input type="radio" name="mode" value="view" checked>view<br>
        <br>
        Project<br>
        <input type="radio" name="project" value="public">public
        <input type="radio" name="project" value="private" checked>private<br>
        <br>

        <select class="year-select"></select>年
        <select class="month-select"></select>月<br>
        <br>
        <a target="_blank">[ここにリンクが展開されます]</a>
    </div>
</body>
</html>
